<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<meta charset="utf-8" />
	<title>Mi Tutor</title>
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="title" content="MiTutor" />
	<meta name="description" content="App web para estudiantes" />
	<meta name="author" content="DevFriends" />
	<link rel="stylesheet" th:href="@{/css/person/index.css}" />
	<link rel="stylesheet" th:href="@{/css/global.css}" />
</head>

<body>
	<header th:fragment="header">
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarTogglertMiTutor"
				aria-controls="navbarTogglerMiTutor" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerMiTutor">
				<a class="navbar-brand" th:href="@{/}">MiTutor</a>
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item"><a class="nav-link text-white"
						href="#listado" th:href="@{/alumnos/list}">Alumnos</a></li>
				</ul>
			</div>
		</nav>
		<div class="container text-center">
			<h1>Mi Tutor</h1>
		</div>
		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-success" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-success" th:if="${info != null}"
			th:text="${info}"></div>
	</header>

	<div class="container"></div>

	<footer th:fragment="footer" class="container">
		<p>
			Derechos Reservados <a href="https://www.upc.edu.pe/" target=_blank>UPC
				2019</a>
		</p>

		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
	</footer>
</body>
</html>