<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Hello World!</title>
</head>
<body>
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>


	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Cerrar Sesion" />
	</form>


	<div th:if="${#httpServletRequest.isUserInRole('TUTOR')}">Contenido
		solo para tutores</div>

	<div th:if="${#httpServletRequest.isUserInRole('STUDENT')}">Contenido
		solo para estudiantes</div>


	<h1>
		<div th:if="${#httpServletRequest.isUserInRole('TUTOR')}">
			<a th:href="@{/admin}"> Pagina para tutores</a> |
		</div>
		<a th:href="@{/user}"> Pagina para alumnos</a>
	</h1>
</body>
</html>




